openapi: "3.1.0"
info:
  title: ConsentShield Compliance API
  version: "1.0.0"
  description: >
    Bearer-authenticated compliance API for DPDP consent events, rights requests,
    audit logs, and data deletion. All endpoints require a `cs_live_*` API key
    issued from the ConsentShield dashboard.
  contact:
    name: ConsentShield Support
    email: support@consentshield.in

servers:
  - url: https://app.consentshield.in/api/v1
    description: Production

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "cs_live_<token>"
      description: >
        Obtain a `cs_live_*` API key from Settings → API keys in the dashboard.
        Include it as `Authorization: Bearer cs_live_<token>` on every request.

  schemas:
    Problem:
      type: object
      required: [type, title, status, detail]
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string

    PingResponse:
      type: object
      required: [ok, org_id, account_id, scopes, rate_tier]
      properties:
        ok:
          type: boolean
          example: true
        org_id:
          type: string
          format: uuid
          nullable: true
        account_id:
          type: string
          format: uuid
        scopes:
          type: array
          items:
            type: string
          example: ["read:consent", "write:consent"]
        rate_tier:
          type: string
          example: starter

    VerifyResponse:
      type: object
      required: [property_id, identifier_type, purpose_code, status, evaluated_at]
      properties:
        property_id:
          type: string
          format: uuid
        identifier_type:
          type: string
          enum: [email, phone, pan, aadhaar, custom]
        purpose_code:
          type: string
          example: marketing
        status:
          type: string
          enum: [granted, revoked, expired, never_consented]
        active_artefact_id:
          type: string
          nullable: true
          description: Present only when status=granted. Opaque identifier.
        revoked_at:
          type: string
          format: date-time
          nullable: true
          description: Present only when status=revoked.
        revocation_record_id:
          type: string
          format: uuid
          nullable: true
          description: Pointer to artefact_revocations row. Present only when status=revoked.
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Artefact expiry timestamp. Null for never_consented.
        evaluated_at:
          type: string
          format: date-time
          description: Server-side ISO 8601 timestamp at which this verification was computed.

    VerifyBatchRequest:
      type: object
      required: [property_id, identifier_type, purpose_code, identifiers]
      properties:
        property_id:
          type: string
          format: uuid
        identifier_type:
          type: string
          enum: [email, phone, pan, aadhaar, custom]
        purpose_code:
          type: string
          example: marketing
        identifiers:
          type: array
          minItems: 1
          maxItems: 10000
          items:
            type: string
            description: Non-empty string. Will be normalised per identifier_type.

    VerifyBatchResultRow:
      type: object
      required: [identifier, status]
      properties:
        identifier:
          type: string
          description: Echoed verbatim from input in the same position.
        status:
          type: string
          enum: [granted, revoked, expired, never_consented]
        active_artefact_id:
          type: string
          nullable: true
        revoked_at:
          type: string
          format: date-time
          nullable: true
        revocation_record_id:
          type: string
          format: uuid
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true

    VerifyBatchResponse:
      type: object
      required: [property_id, identifier_type, purpose_code, evaluated_at, results]
      properties:
        property_id:
          type: string
          format: uuid
        identifier_type:
          type: string
        purpose_code:
          type: string
        evaluated_at:
          type: string
          format: date-time
        results:
          type: array
          items:
            $ref: "#/components/schemas/VerifyBatchResultRow"

    RecordRequest:
      type: object
      required: [property_id, data_principal_identifier, identifier_type, purpose_definition_ids, captured_at]
      properties:
        property_id:
          type: string
          format: uuid
        data_principal_identifier:
          type: string
          description: Customer-supplied identifier; hashed server-side and never stored in plaintext.
        identifier_type:
          type: string
          enum: [email, phone, pan, aadhaar, custom]
        purpose_definition_ids:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
          description: Purposes the data principal granted consent for. Each produces an artefact.
        rejected_purpose_definition_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Optional. Purposes presented but rejected by the data principal. Recorded in consent_events audit row for §11 audit; no artefact is created.
        captured_at:
          type: string
          format: date-time
          description: When the consent was actually captured (kiosk / call-centre / branch / app). Must be within ±15 minutes of the server's clock.
        client_request_id:
          type: string
          description: Optional caller-supplied idempotency key. Reuse returns the same envelope instead of creating new rows.

    RecordedArtefact:
      type: object
      required: [purpose_definition_id, purpose_code, artefact_id, status]
      properties:
        purpose_definition_id:
          type: string
          format: uuid
        purpose_code:
          type: string
        artefact_id:
          type: string
          description: Opaque artefact identifier. Keep it — the caller will need it for revocation via /consent/artefacts/{id}/revoke.
        status:
          type: string
          example: active

    RecordResponse:
      type: object
      required: [event_id, created_at, artefact_ids, idempotent_replay]
      properties:
        event_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        artefact_ids:
          type: array
          items:
            $ref: "#/components/schemas/RecordedArtefact"
        idempotent_replay:
          type: boolean
          description: true when this response is a replay of an earlier call made with the same client_request_id.

    ArtefactListItem:
      type: object
      required: [artefact_id, property_id, purpose_code, status, created_at]
      properties:
        artefact_id:          { type: string }
        property_id:          { type: string, format: uuid }
        purpose_code:         { type: string }
        purpose_definition_id: { type: string, format: uuid }
        data_scope:           { type: array, items: { type: string } }
        framework:            { type: string, enum: [dpdp, abdm, gdpr] }
        status:               { type: string, enum: [active, revoked, expired, replaced] }
        expires_at:           { type: string, format: date-time, nullable: true }
        revoked_at:           { type: string, format: date-time, nullable: true }
        revocation_record_id: { type: string, format: uuid, nullable: true }
        replaced_by:          { type: string, nullable: true }
        identifier_type:      { type: string, enum: [email, phone, pan, aadhaar, custom], nullable: true }
        created_at:           { type: string, format: date-time }

    ArtefactListResponse:
      type: object
      required: [items, next_cursor]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ArtefactListItem"
        next_cursor:
          type: string
          nullable: true
          description: Opaque keyset cursor. Echo back in the next request's `cursor` query param to fetch the next page. Null when this is the last page.

    ArtefactRevocation:
      type: object
      required: [id, revoked_by_type, created_at]
      properties:
        id:              { type: string, format: uuid }
        reason:          { type: string, nullable: true }
        revoked_by_type: { type: string }
        revoked_by_ref:  { type: string, nullable: true }
        created_at:      { type: string, format: date-time }

    ArtefactDetail:
      allOf:
        - $ref: "#/components/schemas/ArtefactListItem"
        - type: object
          required: [revocation, replacement_chain]
          properties:
            revocation:
              nullable: true
              $ref: "#/components/schemas/ArtefactRevocation"
            replacement_chain:
              type: array
              items:
                type: string
              description: All artefact_ids in this replacement chain in chronological order (earliest to latest). Single-element array when the artefact has no predecessors or successors.

    EventListItem:
      type: object
      required: [id, property_id, source, event_type, created_at]
      properties:
        id:                      { type: string, format: uuid }
        property_id:             { type: string, format: uuid }
        source:                  { type: string, enum: [web, api, sdk] }
        event_type:              { type: string }
        purposes_accepted_count: { type: integer }
        purposes_rejected_count: { type: integer }
        identifier_type:         { type: string, nullable: true }
        artefact_count:          { type: integer }
        created_at:              { type: string, format: date-time }

    EventListResponse:
      type: object
      required: [items, next_cursor]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/EventListItem"
        next_cursor:
          type: string
          nullable: true

  responses:
    Unauthorized:
      description: Missing, malformed, or invalid API key.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    Gone:
      description: API key has been revoked.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    TooManyRequests:
      description: Rate limit exceeded.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until the rate-limit window resets.
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Requests allowed per hour for this key's tier.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

paths:
  /_ping:
    get:
      operationId: ping
      summary: Canary health-check
      description: >
        Returns the resolved context for the authenticated key.
        Use this to verify your API key is valid, confirm scopes, and check
        the rate tier before calling data endpoints.
      tags: [Utility]
      responses:
        "200":
          description: Key is valid and active.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PingResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "410":
          $ref: "#/components/responses/Gone"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /consent/verify:
    get:
      operationId: consentVerify
      summary: Single-identifier consent verification
      description: >
        DPDP §6 runtime check. Given a data principal identifier, property,
        and purpose code, returns whether consent is currently granted,
        revoked, expired, or never recorded. Identifier is hashed server-side
        with the org's per-org salt — plaintext is never stored.
      tags: [Consent]
      security:
        - bearerAuth: [read:consent]
      parameters:
        - in: query
          name: property_id
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: data_principal_identifier
          required: true
          schema:
            type: string
          description: "Caller's identifier for the data principal (email, phone, PAN, etc.). Hashed server-side; never stored."
        - in: query
          name: identifier_type
          required: true
          schema:
            type: string
            enum: [email, phone, pan, aadhaar, custom]
          description: "Determines normalisation rule: email=trim+lowercase; phone/aadhaar=digits only; pan=trim+uppercase; custom=trim. Callers MUST use the same type at record-time and verify-time."
        - in: query
          name: purpose_code
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Verification envelope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Key is valid but lacks the read:consent scope.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: property_id does not belong to the key's org.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "410":
          $ref: "#/components/responses/Gone"
        "422":
          description: Missing query param / empty identifier / unknown identifier_type.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /consent/artefacts:
    get:
      operationId: consentArtefactsList
      summary: List consent artefacts (cursor-paginated)
      description: >
        Returns artefacts for the key's org with keyset pagination and optional
        filters. `data_principal_identifier` + `identifier_type` must be
        supplied together to filter by identity.
      tags: [Consent]
      security:
        - bearerAuth: [read:artefacts]
      parameters:
        - in: query
          name: property_id
          schema: { type: string, format: uuid }
        - in: query
          name: data_principal_identifier
          schema: { type: string }
        - in: query
          name: identifier_type
          schema: { type: string, enum: [email, phone, pan, aadhaar, custom] }
        - in: query
          name: status
          schema: { type: string, enum: [active, revoked, expired, replaced] }
        - in: query
          name: purpose_code
          schema: { type: string }
        - in: query
          name: expires_before
          schema: { type: string, format: date-time }
        - in: query
          name: expires_after
          schema: { type: string, format: date-time }
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        "200":
          description: Paged list envelope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtefactListResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Key is valid but lacks read:artefacts scope.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "410": { $ref: "#/components/responses/Gone" }
        "422":
          description: Invalid filter combination, bad cursor, malformed identifier, or bad limit/date.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /consent/artefacts/{id}:
    get:
      operationId: consentArtefactGet
      summary: Get a single consent artefact
      description: >
        Returns the artefact envelope + revocation record (if any) + full
        replacement chain in chronological order.
      tags: [Consent]
      security:
        - bearerAuth: [read:artefacts]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Artefact detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtefactDetail"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Key is valid but lacks read:artefacts scope.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: No artefact with that id belongs to the key's org.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "410": { $ref: "#/components/responses/Gone" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /consent/events:
    get:
      operationId: consentEventsList
      summary: List consent events (summary only, cursor-paginated)
      description: >
        Returns paginated summaries (counts, not full payloads) of
        consent_events rows. Use for §11 audit timelines.
      tags: [Consent]
      security:
        - bearerAuth: [read:consent]
      parameters:
        - in: query
          name: property_id
          schema: { type: string, format: uuid }
        - in: query
          name: created_after
          schema: { type: string, format: date-time }
        - in: query
          name: created_before
          schema: { type: string, format: date-time }
        - in: query
          name: source
          schema: { type: string, enum: [web, api, sdk] }
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        "200":
          description: Paged event list envelope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Key is valid but lacks read:consent scope.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "410": { $ref: "#/components/responses/Gone" }
        "422":
          description: Bad cursor, limit, date, or source.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /consent/record:
    post:
      operationId: consentRecord
      summary: Mode B server-to-server consent capture
      description: >
        Records a consent event captured outside the browser (mobile app,
        call-centre, branch, kiosk, in-person) and issues one artefact per
        granted purpose. Use client_request_id for safe retries.
      tags: [Consent]
      security:
        - bearerAuth: [write:consent]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordRequest"
      responses:
        "201":
          description: Consent recorded; artefacts created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordResponse"
        "200":
          description: Idempotent replay — a prior call with the same client_request_id returned this envelope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Key is valid but lacks the write:consent scope.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: property_id does not belong to the key's org.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "410":
          $ref: "#/components/responses/Gone"
        "422":
          description: Missing/invalid field, stale captured_at, empty purposes, purpose id from another org, or unknown identifier_type.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /consent/verify/batch:
    post:
      operationId: consentVerifyBatch
      summary: Batched consent verification
      description: >
        Same semantics as GET /consent/verify but accepts up to 10,000
        identifiers in a single call, all sharing the same property_id,
        identifier_type, and purpose_code. Response preserves input order.
        All-or-nothing: if any identifier fails normalisation (empty /
        unknown type), the entire call returns 422.
      tags: [Consent]
      security:
        - bearerAuth: [read:consent]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyBatchRequest"
      responses:
        "200":
          description: Batch verification envelope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyBatchResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Key is valid but lacks the read:consent scope.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: property_id does not belong to the key's org.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "410":
          $ref: "#/components/responses/Gone"
        "413":
          description: identifiers array exceeds 10000 elements.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "422":
          description: Missing body field / empty identifiers / malformed individual identifier / unknown identifier_type.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "429":
          $ref: "#/components/responses/TooManyRequests"
